<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="HostEmail" value="patientportalinformationsystem@gmail.com" />
    <add key="HostEmailName" value="Patient Portal" />
    <add key="HostEmailPassword" value="patientportal123#" />
    <add key="HostAddress" value="smtp.gmail.com" />
    <add key="HostPort" value="587" />
  </appSettings>
</configuration>